[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = :house_with_garden: A Book for Anyone to Get Started with Unix
[access "refs/*"]
	owner = group user/UttamDey9721
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/UttamDey9721
	label-Verified = -1..+1 group user/UttamDey9721
	push = group user/UttamDey9721
	read = group user/UttamDey9721
	rebase = group user/UttamDey9721
	removeReviewer = group user/UttamDey9721
	submit = group user/UttamDey9721
[access "refs/heads/*"]
	create = group user/UttamDey9721
	push = +force group user/UttamDey9721
	pushMerge = group user/UttamDey9721
	read = group user/UttamDey9721
[access "refs/tags/*"]
	push = group user/UttamDey9721
	push = +force group user/UttamDey9721
